{% extends "base.html" %}

{% block title %}Home{% endblock %}

{%- block content -%}
      <div class="jumbotron">
        <h1>Your gateway to IP cameras</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>
        <a class="btn btn-large btn-success" href="{{ url_for('frontend.signup') }}">Sign up today</a>
      </div>
      <hr>
      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Simple</h4>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <h4>Secure</h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="span6">
          <h4>Efficient</h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h4>Reliable</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>
{% endblock -%}
